@page
@model MicroFund.Pages.Judge.Scorecards.IndexModel
@{
}

@{
    ViewData["Title"] = "Pitches";
    ViewData["Dashboard"] = "Judge Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Pitches</h2>
        </div>
        <div class="col-6 text-right">
            <!--<a asp-page="Create" class="btn btn-primary"><i class="fas fa-plus"></i>Create New</a>-->
        </div>
    </div>
    <table class="table" id="pitches">
        <thead>
            <tr>
                <th>
                    Company Name
                </th>
                <th>
                    Applicant Name
                </th>
                <th>
                    Pitch Id
                </th>
                <th>
                    Pitch Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pitch in Model.JudgeViewPitchesVM.Pitches)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => pitch.Application.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.JudgeViewPitchesVM.ApplicationUsers.Where(x => x.Id == pitch.Application.ApplicantId).FirstOrDefault().FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => pitch.PitchDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.JudgeViewPitchesVM.PitchEvents.Where(x => x.PitchEventId == pitch.PitchEventId).FirstOrDefault().PitchDate)
                    </td>
                    <td>
                        <a class="btn btn-outline-dark" asp-page="/Judge/ScoreCards/PitchScorecard" asp-route-id="@pitch.PitchId">Score</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#pitches').DataTable({
                "pageLength": 5,
                "order": [[2, "asc"]]
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}