@page
@model MicroFund.Pages.Admin.Manage.AddressTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Address Types</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddressType[0].AddressTypeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressType[0].IsArchived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AddressType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddressTypeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsArchived)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AddressTypeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AddressTypeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AddressTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
