@page
@model MicroFund.Pages.Applicant.FollowUp.AnswerFollowUpModel
@{
    ViewData["Title"] = "Index";
    ViewData["Dashboard"] = "Applicant Dashboard";
}

<h1>@Model.FollowUpTypeNum Day Follow-up for @Model.Application.CompanyName</h1>
<hr />
<div class="container-fluid">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="text" class="form-control" name="ApplicationId" value="@Model.ApplicationId" hidden />
        <input type="text" class="form-control" name="FollowUpTypeNum" value="@Model.FollowUpTypeNum" hidden />
        <div class="row">
            <div class="col-sm-2">
                <label class="font-weight-bold">Question</label>
            </div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-1">
                <label class="font-weight-bold">Response</label>
            </div>
        </div>
        <hr />
        @foreach (var r in Model.Responses)
        {
            <div class="form-group row">
                <div class="col-sm-2">
                    <label>@r.Question.QuestionDescription</label>
                </div>
                <div class="col-sm-1">

                </div>
                <div class="col-sm-7">
                    <textarea class="form-control" name="@(r.Question.QuestionDescription + "Response")" style="height: 100px;" required>@r.ResponseDescription</textarea>
                </div>
            </div>
            <hr />
        }
        <button type="submit" class="btn btn-outline-success float-right">Update Follow-up Questions</button>
        <br />
        <br />
    </form>
</div>