@page
@model MicroFund.Pages.Mentor.Notes.IndexModel

@{
    ViewData["Title"] = "Mentor Notes";
    ViewData["Dashboard"] = "Mentor Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Mentor Notes</h2>
        </div>

        <div class="col-6 text-right">
            <a asp-page="Create" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Create New</a>
        </div>
    </div>
    <div class="mt-1 mb-3">
        <a class="btn btn-outline-success" asp-page="" asp-route-selected="-1">All</a>
        @foreach (var name in Model.MentorAssignments)
        {
            <a class="btn btn-outline-success" asp-page="" asp-route-selected="@name.MentorAssignmentId">@name.Application.CompanyName</a>
        }
    </div>
    <table class="table" id="mentorNotesTable">
        <thead>
            <tr>
                <th>
                    Company
                </th>
                <th>
                    Meeting Date
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MentorNotes)
            {
                string inactiveRow = "";
                if (item.MentorAssignment.Application.ApplicationStatusId != 5)
                {
                    inactiveRow = "table-secondary";
                }
                <tr class="@inactiveRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.MentorAssignment.Application.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MeetingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MentorAssignment.Application.ApplicationStatus.StatusDescription)
                    </td>
                    <td>
                        <a class="btn btn-outline-success" asp-page="./Edit" asp-route-id="@item.MentorNoteId">Edit</a> |
                        <a class="btn btn btn-outline-warning" asp-page="./Details" asp-route-id="@item.MentorNoteId">Details</a> |
                        <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.MentorNoteId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            $('#mentorNotesTable').DataTable({
                "pageLength": 25,
                "order":[]
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}
