@page
@model MicroFund.Pages.Mentor.Notes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Meeting Notes</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-page="Create" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Create New</a>
        </div>
    </div>
    <table class="table" id="mentorNotesTable">
        <thead>
            <tr>
                <th>
                    Company
                </th>
                <th>
                    Meeting Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MentorNote)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MentorAssignment.Application.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MeetingDate)
                    </td>
                    <td>
                        <a class="btn btn-outline-success" asp-page="./Edit" asp-route-id="@item.MentorNoteId">Edit</a> |
                        <a class="btn btn btn-outline-warning" asp-page="./Details" asp-route-id="@item.MentorNoteId">Details</a> |
                        <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.MentorNoteId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#mentorNotesTable').DataTable({
                "pageLength": 10
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}
