@page
@model MicroFund.Pages.Admin.Pitch.EditPitchModel
@{
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" for="AwardHistoryId" name="AwardHistoryId" value="@Model.SelectedAward.AwardHistoryId" />
            <input type="hidden" for="PitchId" name="PitchId" value="@Model.PitchId" />
            <div class="form-group">
                <label asp-for="SelectedAward.CashAmount" class="control-label"></label>
                <input for="CashAmount" step="1" name="CashAmount" value="@Model.SelectedAward.CashAmount" class="form-control" />
                <label asp-for="SelectedAward.ServicesAmount" class="control-label"></label>
                <input for="ServicesAmount" step="1" name="ServicesAmount" value="@Model.SelectedAward.ServicesAmount" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./AwardPitch" asp-route-pitchId="@Model.PitchId">Return</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}