@page
@model MicroFund.Pages.Admin.Manage.ScoreCardFields.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Score Card Fields</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScoreCardField[0].ScoringCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreCardField[0].ScoreCardFieldName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreCardField[0].ScoreCardFieldDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreCardField[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreCardField[0].IsArchived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ScoreCardField) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScoringCategory.ScoringCategoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreCardFieldName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreCardFieldDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsArchived)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ScoreCardFieldId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ScoreCardFieldId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ScoreCardFieldId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
