@page
@model MicroFund.Pages.Admin.User.MentorModel
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Dashboard"] = "Admin Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Mentors</h2>

            <a class="btn btn-outline-success" asp-page="/Admin/User/Index">All Users</a>
            <a class="btn btn-outline-success" asp-page="/Admin/User/Admin">Admins</a>
            <a class="btn btn-outline-success" asp-page="/Admin/User/Mentor">Mentors</a>
            <a class="btn btn-outline-success" asp-page="/Admin/User/Judge">Judges</a>
            <a class="btn btn-outline-success" asp-page="/Admin/User/Applicant">Applicants</a>

        </div>
        <div class="col-6 text-right">
            <a asp-page="/Account/Register" asp-area="Identity" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Create New</a>
        </div>
    </div>
    <br /><br />
    <table class="table" id="userTable">
        <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Role
                </th>
                <th>
                    Is Archived
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var user in Model.ApplicationUsers)
                {

                    <tr>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @Model.UserRoles[user.Email]
                        </td>
                        <td>
                            @user.IsArchived
                        </td>
                        <td>
                            <a class="btn btn-outline-success" asp-page="/Admin/User/Update" asp-route-id="@user.Id">Update</a>
                            <a class="btn btn-outline-danger" asp-page="/Admin/User/Delete" asp-route-id="@user.Id">Delete</a>
                            <form method="post">
                                @{
                                    if (user.LockoutEnd > DateTime.Now)
                                    {
                                        <button type="submit" class="btn btn-outline-warning" asp-page-handler="lockUnlock" asp-route-id="@user.Id">Unlock</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-outline-warning" asp-page-handler="lockUnlock" asp-route-id="@user.Id">Lock</button>
                                    }
                                }
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable({
                "pageLength": 5,
                "order": [[2, "asc"]]
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}