@page
@model MicroFund.Pages.Admin.User.UpdateModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Update User</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form class="form" method="post">
                <input asp-for="AppUser.Id" type="hidden" value="@Model.AppUser.Id" />
                <input asp-for="AppUser.ConcurrencyStamp" type="hidden" value="@Model.AppUser.ConcurrencyStamp" />
                <input asp-for="AppUser.IsArchived" type="hidden" value="@Model.AppUser.IsArchived" />
                <div class="form-group">
                    <label asp-for="AppUser.Email">Email</label>
                    <input asp-for="AppUser.Email" type="email" value="@Model.AppUser.Email" size="40" />
                    <hr />
                </div>
                <div class="form-group form-check">
                    <input name="AreChecked" type="checkbox" value="Admin" checked="@(Model.UserRoles.Contains("Admin"))"/>  Admin <br />
                    <input name="AreChecked" type="checkbox" value="Judge" checked="@(Model.UserRoles.Contains("Judge"))" /> Judge <br />
                    <input name="AreChecked" type="checkbox" value="Mentor" checked="@(Model.UserRoles.Contains("Mentor"))" /> Mentor <br />
                    <input name="AreChecked" type="checkbox" value="Applicant"  checked="@(Model.UserRoles.Contains("Applicant"))" /> Applicant
                </div>          
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>