@page
@model MicroFund.Pages.Admin.Manage.Questions.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["Dashboard"] = "Admin Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-10">
            <h2>Questions</h2>
            <a class="btn btn-outline-success" asp-page="">All Questions</a>
            @foreach (var category in Model.Category)
            {
                <a class="btn btn-outline-success" asp-page="" asp-route-QuestionCategory="@category.QuestionCategoryId">@category.QuestionCategoryDescription</a>
            }

        </div>
        <div class="col-2 text-right">
            <a asp-page="Create" class="btn btn-primary"><i class="fas fa-plus"></i>Create New</a>
        </div>
    </div>
    <br />
    <table class="table" id="questionsTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Question[0].QuestionDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Question[0].QuestionCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Question[0].IsArchived)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Question)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionCategory.QuestionCategoryDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsArchived)
                    </td>
                    <td>
                        <a class="btn btn-outline-success" asp-page="./Edit" asp-route-id="@item.QuestionId">Edit</a> |
                        <a class="btn btn btn-outline-warning" asp-page="./Details" asp-route-id="@item.QuestionId">Details</a> |
                        <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.QuestionId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#questionsTable').DataTable({
                "pageLength": 5,
                "order": [[2, "asc"]]
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}