@page
@model MicroFund.Pages.Mentor.Assignments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MentorAssignment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MentorAssignment.Mentor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MentorAssignment.Mentor.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MentorAssignment.Application)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MentorAssignment.Application.ApplicantId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MentorAssignment.DateAssigned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MentorAssignment.DateAssigned)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MentorAssignment.ApprovedToPitchDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MentorAssignment.ApprovedToPitchDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MentorAssignment.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MentorAssignment.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MentorAssignment.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MentorAssignment.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MentorAssignment.IsArchived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MentorAssignment.IsArchived)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MentorAssignment.MentorAssignmentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
