@page
@model MicroFund.Pages.Mentor.Assignments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Mentor Assignments</h1>


<div class="container">
    <table class="table" id="mentorAssignmentsTable">
        <thead>
            <tr>
                <th>
                    Company Name
                </th>
                <th>
                    Application Number
                </th>
                <th>
                    Application Status
                </th>
                <th>
                    Mentor
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var app in Model.Applications)
            {
                <tr>
                    <td>
                        @app.CompanyName
                    </td>
                    <td>
                        @Model.ApplicationIterations[app.ApplicationId]
                    </td>
                    <td>
                        @app.ApplicationStatus.StatusDescription
                    </td>
                    <td>
                        @Model.MentorAssignments[app.ApplicationId + ""]
                    </td>
                    <td>
                        <a class="btn btn-outline-success" asp-page="./Edit" asp-route-appId="@app.ApplicationId">Edit</a> |
                        <a class="btn btn btn-outline-warning" asp-page="./Details" asp-route-id="@app.ApplicationId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#mentorAssignmentsTable').DataTable({
                "pageLength": 10
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}