@page
@model MicroFund.Pages.Admin.Manage.ScoringCategories.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["Dashboard"] = "Admin Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Scoring Categories</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-page="Create" class="btn btn-primary"><i class="fas fa-plus"></i>Create New</a>
        </div>
    </div>
    <table class="table" id="scoringCategoriesTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ScoringCategory[0].ScoringCategoryDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScoringCategory[0].IsArchived)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ScoringCategory)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScoringCategoryDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsArchived)
                    </td>
                    <td>
                        <a class="btn btn-outline-success" asp-page="./Edit" asp-route-id="@item.ScoringCategoryId">Edit</a> |
                        <a class="btn btn btn-outline-warning" asp-page="./Details" asp-route-id="@item.ScoringCategoryId">Details</a> |
                        <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.ScoringCategoryId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#scoringCategoriesTable').DataTable({
                "pageLength": 5,
                "order": [[2, "asc"]]
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}