@page
@model MicroFund.Pages.Admin.Manage.ContactTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
    ViewData["Dashboard"] = "Admin Dashboard";
}

<h1>Details</h1>

<div>
    <h4>ContactType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactType.ContactTypeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactType.ContactTypeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactType.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactType.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactType.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactType.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactType.IsArchived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactType.IsArchived)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ContactType.ContactTypeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
