@page
@model MicroFund.Pages.Admin.Manage.QuestionCategories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Question Categories</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionCategory[0].QuestionCategoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionCategory[0].IsArchived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.QuestionCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionCategoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsArchived)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.QuestionCategoryId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.QuestionCategoryId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.QuestionCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
