@page
@model MicroFund.Pages.Admin.Applications.IndexModel
@{
    ViewData["Dashboard"] = "Admin Dashboard";
}
<h1>All the applications</h1>
<div class="container">
    <table class="table" id="applicationsTable">
        <thead>
            <tr>
                <th>
                    Company Name
                </th>
                <th>
                    Applicant Name
                </th>
                <th>
                    Application Status
                </th>
                <th>
                    Update Status
                </th>
                <th>
                    Add to Pitch Event
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            @{ 
                for (int i=0; i < Model.Applications.ToList().Count; i++) {
                    <tr>
                        <td>
                            @Model.Applications.ToList()[i].CompanyName
                        </td>
                        <td>
                            @Model.Users.FirstOrDefault(u => u.Id == Model.Applications.ToList()[i].ApplicantId)
                        </td>
                        <td>
                            @Model.Applications.ToList()[i].ApplicationStatus.StatusDescription
                        </td>
                        <td>
                            <a  data-statusid="@Model.Applications.ToList()[i].ApplicationStatus.ApplicationStatusId" data-appid="@Model.Applications.ToList()[i].ApplicationId"  class="btn btn-outline-warning" data-toggle="modal" href="#updateStatusModal">
                                Update Status
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary" data-appid="@Model.Applications.ToList()[i].ApplicationId" data-toggle="modal" href="#assignPitchEventModal">Schedule Pitch Event</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-info" asp-page="/Admin/Applications/Details" asp-route-applicationid="@Model.Applications.ToList()[i].ApplicationId">Details</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<div class="modal fade" id="updateStatusModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Application Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" method="post">
                    <input type="hidden" for="applicationId" name="applicationId" value="" id="appId" />
                    @{
                        foreach (var s in Model.Statuses)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="@s.ApplicationStatusId" name="statusid" id="@s.ApplicationStatusId" />
                                <label class="form-check-label" for="@s.ApplicationStatusId">@s.StatusDescription</label>
                            </div>
                        }
                    }
                    <hr />
                    <label>Comments</label>
                    <div class="form-group">
                        <textarea name="comment" id="comment" style="width:100%"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="assignPitchEventModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Assign to Pitch Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" method="post">
                    <input type="hidden" for="applicationId" name="applicationId" value="" id="appId2" />
                    @{ 
                        foreach(var p_event in Model.PitchEvents) {
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="@Model.ScheduledPitchEventId" value="@p_event.PitchEventId"/>
                                <label class="form-check-label">@p_event.PitchDate</label>
                            </div>
                        }
                    }
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" asp-page-handler="SchedulePitch" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




@section Scripts{ 
    <script>
        $('#updateStatusModal').on('show.bs.modal', function (event) {
            var status = $(event.relatedTarget).data('statusid');
            var appId = $(event.relatedTarget).data( 'appid');
            $("#" + status).prop("checked", true);
            $("#appId").prop("value", appId);
        });

        $('#assignPitchEventModal').on('show.bs.modal', function (event) {
            var appId = $(event.relatedTarget).data('appid');
            console.log(appId);
            //$("#" + status).prop("checked", true);
            $("#appId2").prop("value", appId);
        });

        $(document).ready(function () {
            $('#applicationsTable').DataTable({
                "pageLength": 8,
                "order": [[2, "desc"]]
            });
            $('.dataTables_length').addClass('bs-select');
        });


    </script>
}